# Archivos específicos de IntelliJ/Android Studio
*.iml
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/assetWizardSettings.xml
.idea/**/gradle.xml
.idea/**/navEditor.xml
.idea/**/modules.xml
.idea/**/runConfigurations/

# Directorios de Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos locales de configuración (no se deben compartir)
local.properties

# Archivos de caché de Android/Java
/.idea/caches
/.idea/libraries

# Configuraciones específicas de tu entorno
/.idea/vcs.xml

# Otros archivos de logs o datos temporales
*.log

